# Misc
.DS_Store
.metadata
logs/
.history/
docs
SS
openspec
CLAUDE.md

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code
.vscode/

# Tools
tools/
.agent/tools/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
android/.gradle
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
.agent
android/app/src/main/jniLibs/**/libpdfium.so

# Rust
target/
**/*.rs.bk
integration_test
test_driver
AGENTS.md
test